  img{
    border-radius: 15%;
    height: auto;
    display: block;
    margin: auto;
  }
  h1, h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
  }
  #descrição{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  body{
    background-color: rgb(229, 195, 209);
    font-size: 20px;
  }
  em{
    font-style:italic;

    color: rgb(83, 96, 236);
  }
  .lista{
    font-size: 1.5em;
  
  }
  p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 30px;
  
    
  }
  ul, .destaque{
    color: rgb(97, 63, 117);
  }
  ul{
    background-color:rgb(245, 176, 203);
  }
  
